<!-- <p *ngFor ="Let n of nums; index ">paragraph {{n}} {{index}}</p> -->

<!-- <table border = "2">
  <tr <p *ngFor ="Let n of nums; index a i">
    <td>
      data {{n}} {{i+1}}
    </td>
  </tr>
</table> -->


<table border="2">
  <tr>
    <td>content</td>
    <td>index</td>
    <td>even</td>
    <td>odd</td>
    <td>first</td>
    <td>last</td>
  </tr>
  <tr <p *ngFor="Let n of mobiles; index a i; even ad e;odd as o;first as l">
    <td>
    <td>{{m}}</td>
    <td>{{i}}</td>
    <td>{{e}}</td>
    <td>{{o}}</td>
    <td>{{f}}</td>
    <td>{{last}}</td>
    </td>
  </tr>
</table>

